# Question-2

### Question-2.1
In this part, you will build a model to forecast the hourly carpark availability in the future
(aggregated across all carparks instead of looking at each carpark individually). Can you
explain why you may want to forecast the carpark availability in the future? Who would
find this information valuable? What can you do if you have a good forecasting model?

### Question-2.2
Build a linear regression model to forecast the hourly carpark availability for a given
month. Use the month of July 2022 as a training dataset and the month of August 2022
as the test dataset. For this part, do not use additional datasets. The target is the hourly
carpark availability percentage and you will have to decide what features you want to
use. Generate two plots: (i) Time series plot of the actual and predicted hourly values
(ii) Scatter plot of actual vs predicted hourly values (along with a line showing how good
the fit is).

### Question-2.3
Do the same as Question 2.2 above but use support vector regressor (SVR).

In [80]:
import json
import pandas as pd


df_august = pd.read_json('../Group30_Question_2/august.json', 
                         lines=True)
df_july = pd.read_json('../Group30_Question_2/july.json', 
                         lines=True)

In [81]:
df_july.shape

(1968, 714)

In [82]:
df_july.head()

,carpark_number,1-1,2-1,3-1,4-1,5-1,6-1,7-1,8-1,9-1,...,14-31,15-31,16-31,17-31,18-31,19-31,20-31,21-31,22-31,23-31
0,HE12,56,56.0,56.0,56.0,56.0,27.0,27.0,27.0,27.0,...,28.0,23.0,23.0,21.0,17.0,18.0,17.0,41.0,59.0,63.0
1,HLM,482,482.0,479.0,482.0,482.0,475.0,464.0,398.0,308.0,...,195.0,277.0,348.0,385.0,397.0,315.0,308.0,351.0,420.0,494.0
2,RHM,134,134.0,134.0,134.0,134.0,113.0,113.0,113.0,113.0,...,120.0,142.0,173.0,166.0,171.0,166.0,159.0,148.0,130.0,125.0
3,BM29,82,81.0,83.0,83.0,83.0,83.0,75.0,52.0,30.0,...,27.0,41.0,39.0,46.0,46.0,43.0,58.0,67.0,73.0,80.0
4,Q81,75,72.0,75.0,77.0,77.0,75.0,51.0,0.0,5.0,...,18.0,48.0,53.0,47.0,44.0,41.0,31.0,62.0,72.0,76.0

In [83]:
df_july_new = df_july.drop('carpark_number', axis = 1)
df_july_new = df_july_new.fillna(0).astype('int64')
df_july_sum = df_july_new.sum(axis = 0)
df_july_sum  = df_july_sum.to_frame().reset_index()
df_july_sum.columns = ['TimeStamp', 'LotsAvailable']
df_july_sum[['hour', 'day']] = df_july_sum.TimeStamp.str.split("-",expand=True,)
df_july_sum = df_july_sum.drop('TimeStamp', axis = 1)
df_july_sum

     LotsAvailable hour day
0           337122    1   1
1           331007    2   1
2           328726    3   1
3           330901    4   1
4           330535    5   1
..             ...  ...  ..
708         399090   19  31
709         390619   20  31
710         378999   21  31
711         366958   22  31
712         354267   23  31

[713 rows x 3 columns]

Now let us import the test data and convert to the above format.

In [84]:
df_aug_new = df_august.drop('carpark_number', axis = 1)
df_aug_new = df_aug_new.fillna(0).astype('int64')
df_aug_sum = df_aug_new.sum(axis = 0)
df_aug_sum = df_aug_sum.to_frame().reset_index()
df_aug_sum.columns = ['TimeStamp', 'LotsAvailable']
df_aug_sum[['hour', 'day']] = df_aug_sum.TimeStamp.str.split("-",expand=True,)
df_aug_sum = df_aug_sum.drop('TimeStamp', axis = 1)
df_aug_sum

     LotsAvailable hour day
0           340817    1   1
1           336095    2   1
2           334439    3   1
3           332826    4   1
4           333959    5   1
..             ...  ...  ..
708         439880   19  31
709         408589   20  31
710         387942   21  31
711         371394   22  31
712         354129   23  31

[713 rows x 3 columns]

In [85]:
X_train = df_july_sum.drop('LotsAvailable', axis = 1)
Y_train = df_july_sum['LotsAvailable'].to_frame()
X_test = df_aug_sum.drop('LotsAvailable', axis = 1)
Y_test = df_aug_sum['LotsAvailable'].to_frame()

In [86]:
import numpy as np
from sklearn.svm import SVR
regressor = SVR(kernel='rbf')
regressor.fit(X_train, Y_train.values.ravel())

SVR()

Let us now predict the data.

In [91]:
y_pred = regressor.predict(X_test)
df_pred = pd.DataFrame(y_pred, columns=['Available Lots'])
df_pred['hour'] = df_aug_sum['hour']
df_pred['day'] = df_aug_sum['day']
df_pred

     Available Lots hour day
0     398834.533005    1   1
1     398837.039892    2   1
2     398840.845603    3   1
3     398845.911041    4   1
4     398852.126416    5   1
..              ...  ...  ..
708   398921.049632   19  31
709   398917.185564   20  31
710   398912.651167   21  31
711   398907.708324   22  31
712   398902.608585   23  31

[713 rows x 3 columns]

### Question-2.4
Do the same as Question 2.2 above but use decision tree (DT) regressor.

### Question-2.5
Make a final recommendation for the best regression model (out of the 3 methods above)
by choosing a suitable performance metric. To ensure a fair comparison, carry out hyperparameter
tuning for all 3 methods. Then, make a final recommendation selecting only
one model. Include both quantitative and qualitative arguments for your choice.